*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    overflow-x: hidden;
    background-image: url(imagens/fundoserra.jpeg);
    background-attachment: fixed;
}

.top-bar{
    width: 100%;   
    background-color: rgba(0, 255, 55, 0.669);
    padding: 6px;
    display: flex;
    justify-content: space-between;
}

.logo img{
    width: 80px;
    height: 80px;
    border-radius: 20%;
    margin-left: 10px;
}

.search-bar{
    flex-grow: 1;
    margin: 0 20px;
    display: flex;
    align-items: center;
}

.search-bar input{
    width: 100%;
    padding: 8px;
    border-radius: 10px;
    border: none;
    font-size: 20px;
    background-color: rgb(255, 255, 255, 0.6);
    color: rgb(0, 0, 0);
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.1);
}

.login-area{
    display: flex;
    align-items: center;
}

.login-button{
    background-color: white;
    color: rgb(0, 0, 0);
    padding: 10px 20px;
    border-radius: 20px;
    text-decoration: none;
    font-size: 18px;
    margin-right: 10px;
    transition: 0.3s;
}

.login-button:hover{
    background-color: rgb(233, 233, 233);
    color: rgb(0, 0, 0);
}

.register-button{
    background-color: white;
    color: rgb(0, 0, 0);
    padding: 10px 20px;
    border-radius: 20px;
    text-decoration: none;
    font-size: 18px;
    transition: 0.3s;
}

.register-button:hover{
    background-color: rgb(233, 233, 233);
    color: rgb(0, 0, 0);
}

.second-bar{
  background-color: rgba(12, 137, 33, 0.653);
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px 0;
  font-family: sans-serif;
  font-size: 16px;
}

.separator{
  color: white;
  font-size: 20px;
  margin: 0 10px;
}

.second-bar a{
  text-decoration: none;
  color: #ffffff;
  font-weight: bold;
  padding: 8px 12px;
  border-radius: 4px;
  transition: background-color 0.3s;
}

.second-bar a:hover{
  background-color: rgba(255, 255, 255, 0.5);
}

.footer-content{
    background-color: rgba(255, 255, 255);
    color: rgb(0, 255, 0);
    padding: 20px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: clamp(10px, 5vw, 20px);
}

.social-media a{
    text-decoration: none;
    color: rgb(0, 255, 0);
    margin: 0 10px;
}

.pqserraorgaos-separator{
    width: 100%;
    background-color: rgb(0, 255, 0);
    color: rgb(255, 255, 255);
    font-size: clamp(10px, 5vw, 20px);
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
    text-align: start;
    word-wrap: break-word;
}

.pqserraorgaos-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  box-sizing: border-box;
}

.galeria {
  display: flex;
  justify-content: space-between;
  gap: 15px;
}

.pqserraorgaos-image {
  width: 100%;
  max-width: 32%;
  height: 250px;
  object-fit: cover;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s ease;
  margin-bottom: 40px;
}

.pqserraorgaos-image:hover {
  transform: scale(1.03);
}

.pqserraorgaos-container p {
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  padding: 20px;
  border-radius: 10px;
  margin-top: 30px;
  line-height: 1.6;
  text-align: justify;
  font-size: clamp(14px, 2vw, 18px);
  max-width: 1200px;
  margin: 0 auto;
  box-sizing: border-box;
}

.acesso-separator {
  margin-top: 20px;
  width: 100%;
  background-color: rgb(0, 189, 0);
  color: rgb(255, 255, 255);
  font-size: clamp(10px, 5vw, 15px);
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}

.trilhas-separator {
  margin-top: 20px;
  width: 100%;
  background-color: rgb(0, 189, 0);
  color: rgb(255, 255, 255);
  font-size: clamp(10px, 5vw, 15px);
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}